@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
  font-family: 'GFS Didot', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
  }